@{
    ViewBag.Title = "Cms";
}

@model IEnumerable<EnergoGlobalKalkulator.Models.Projekat>

@{
    ViewBag.Title = "Projekti";
}

<script src="~/Scripts/projekat.js"></script>

<section class="wrapper style5">
    <div class="inner">
        <h4>Lista projekata</h4>

        <div class="table-wrapper">
            <table class="alt" id="tblData">
                <thead>
                    <tr>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Naziv Projekta</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="verti4cal-align: inherit;">Datum izrade </font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Projektant</font></font></th>

                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Kompanija</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Email</font></font></th>
                        <th><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Pogledaj projekat</font></font></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Naziv_projekta</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Datum_izrade</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Projektant.Ime @item.Projektant.Prezime</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Projektant.Kompanija</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">@item.Projektant.Email</font></font></td>
                            <td><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"><span class="energo"> <a href="/Projektant/Projekat/@item.Id">Pogledaj projekat </a></span></font></font></td>
                        </tr>
                    }




                </tbody>
                <tfoot>

                </tfoot>
            </table>

        </div>

        @*<a href="/Projektant/Profil/@ViewBag.Profil" class=" button fit small">Nazad na profil</a>*@


        @*<button onclick="history.back()" >Nazad na projekte</button>*@





    </div>
</section>






@*<div class="inner ro">

        <section class="wrapper style5">



                <div class="row gtr-uniform">
                    <div class="col-5 col-5-xsmall">

                        <div class='square-box'>
                            <div class='square-content'><div><a>Svi projetki</a></div></div>
                        </div>
                    </div>

                </div>

                <div class="row gtr-uniform">
                    <div class="col-5 col-5-xsmall">


                        <div class='square-box'>
                            <div class='square-content'><div><a>EnergoG projekti</a></div></div>
                        </div>

                    </div>

                </div>

                <div class="row gtr-uniform">
                    <div class="col-5 col-5-xsmall">

                        <div class='square-box'>
                            <div class='square-content'><div><a>Lista Kompanija</a></div></div>
                        </div>

                    </div>

                </div>

                <div class="row gtr-uniform">
                    <div class="col-5 col-5-xsmall">


                        <div class='square-box'>
                            <div class='square-content'><div><a>Lista email-ova</a></div></div>
                        </div>



                    </div>

                </div>







            </section>



    </div>*@
